.AppBar__wrapper {
    // height: 45px;
    display: flex;
    justify-content: space-between;

    background-color: red;
}

.AppBar__title > h1 {
    margin: 0;
    font-weight: 300;
    padding: 5px;
}