$gray1: #b4b4b4;
$gray2: #cccccc;
$gray3: #a1a1a1;
$off-white: #f2f2f2;
$blue1: #1976d2;
$red: red;
$kodenames-yellow: #FFD90F;
$kodenames-red: #f23333;
$kodenames-blue: #3353f2;
$kodenames-gray: #4f4f4f;
$kodenames-green: #20A441;